* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, rgb(18, 233, 204), rgb(135, 233, 126));
}

.Main,
.MainMenu,
.ByField,
.FullRange,
h1 {
  width: 100%;
  height: 80vh;
  text-align: center;
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  height: 5vh;
  width: 300px;
  margin: 20px auto 0;
  text-align: center;
  justify-content: center;
  margin-left: 20px;
  padding: 5px 16px;
  border-radius: 50px;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

button:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

button:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
